[submodule "lsfg-vk-android"]
	path = lsfg-vk-android
	url = https://github.com/Brucelaw0327/lsfg-vk-android.git
	branch = release
[submodule "LSFG-Android-Application"]
	path = LSFG-Android-Application
	url = https://github.com/Brucelaw0327/LSFG-Android-Application.git
